 <%# Header here %>
  <div class="nav-header">
<%= render "navbar" %>
    <div class="header-container font-header">
      <h1 class="font-header">Music studio booking made easy</h1>
      <%# Search bar here %>
      <%= render "searchbar" %>
  </div>
</div>
  <%# Discover here %>
<div class="container">
  <h2 class="sub-title">Discover here</h2>
  <div class="discover">
    <div>
      <img src=<%=asset_path('placeholder.jpg')%> alt="">
        <span>
          <%= link_to studio_path(@studio.first), class:"text-decoration-none text-white stretched-link" do %>
          <h3><%= @studio.first.name %></h3>
          <p>From $<%=@studio.first.rooms.sample.price if @studio.first.rooms%></p>
          <% end %>
        </span>
    </div>
  <div>
      <img src=<%=asset_path('placeholder.jpg')%> alt="">
        <span>
          <% id_2 = @studio.find(rand(2..@studio.count - 1)) %>
          <%= link_to studio_path(id_2), class:"text-decoration-none text-white stretched-link" do %>
          <h3><%= id_2.name %></h3>
          <p>From $<%= Studio.where(name: id_2.name).take.rooms.sample.price%></p>
          <% end %>
        </span>
    </div>
    <div>
      <img src=<%=asset_path('placeholder.jpg')%> alt="">
        <span>
          <% id_3 = @studio.find(rand(2..@studio.count - 1)) %>
          <%= link_to studio_path(id_3), class:"text-decoration-none text-white stretched-link" do %>
          <h3><%= id_3.name %></h3>
          <p>From $<%= Studio.where(name: id_3.name).take.rooms.sample.price%></p>
          <% end %>
        </span>
    </div>
  </div>
  <%# trending rooms, to room index %>
  <h2 class="sub-title">Trending studio rooms</h2>
  <div class="trending">
  <% @studio.reject {|e| e.rooms == []}.sample(4).each do |studio| %>
    <div>
      <img src=<%=asset_path('trending-1.jpg')%> alt="">
      <h3>
       <%= studio.rooms.sample.room_name  %>
      </h3>
    </div>
    <% end %>

  </div>
  <%# call to action %>
  <div class="cta">
    <h3>Sharing<br> is earning now</h3>
    <p>Great oppurtunity to make money by<br>sharing your practice room/studio</p>
    <%= link_to "Start listing", new_studio_path, class: "cta-btn" %>
  </div>
  <h2 class="sub-title">Jammers Stories</h2>
  <div class="stories">
    <div>
        <img src=<%=asset_path('stories-1.jpg')%> alt="">
        <p>The best studio booking experience using StudioBook!</p>
    </div>
    <div>
        <img src=<%=asset_path('stories-2.jpg')%> alt="">
        <p>The best studio booking experience using StudioBook!</p>
    </div>
    <div>
        <img src=<%=asset_path('stories-1.jpg')%> alt="">
        <p>The best studio booking experience using StudioBook!</p>
    </div>
  </div>
  <%= link_to "Start making money", new_studio_path, class: "start-btn" %>
  <%# about message %>
  <div class="about-msg">
    <h2>About StudioBook</h2>
    <p>StudioBook was created by musician that had struggled through the process
    of booking a studio. This platform opens up to more oppurtunity for studio owners, home studio owners,
    as well as fellow musicians and artists that are looking to practice or rehearse with their band.
    </p>
  </div>
  <%# footer design %>
  <div class="footer">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <hr>
    <p>Copyright © 2022, StudioBook live</p>
  </div>
</div>
