<nav class="nav-bar navbar-white">
     <a href="/"><img src="/assets/studiobookcropped.png" alt="studiobook" class="nav-logo"></a>
     <ul class="nav-links">
    <li><a href="#" class="active">Book Studio</a></li>
    <li><%=link_to 'Top rooms', rooms_path%></li>
    <%# <li><a href="">Support</a></li> %>
  </ul>
  <div class="nav-buttons d-flex">
  <% if user_signed_in? %>
  <%= link_to "List your studio here", new_studio_path, class: "nav-list-btn" %>
  <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "nav-sign-out-btn" %>
  <% else %>
  <%= link_to "List your studio here", new_studio_path, class: "nav-list-btn" %>
  <%= link_to "Login", new_user_session_path, class: "nav-login-btn" %>
  <a href="#" class="nav-register-btn">Register Now</a>
  <% end %>
  </div>
</nav>
