<%= render "studios/navbar" %>
<div class="container-booking d-flex row justify-content-between">
    <div class="col-3">
        <div class="left-booking col-10">
            <div class="avatar-profile">
                <img class="avatar-largest" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            </div>
            <div class="user-details">
            <a href="<%=edit_user_password_path%>" class="text-decoration-none" style="margin-bottom: px; font-size:20px;">Edit personal info<i class="fa-solid fa-chevron-right text-primary ml-1"></i></a>
                  <hr>
              <h3><%=  "#{current_user.last_name} #{current_user.first_name}" %></h3>
              <p><i class="fa-regular fa-envelope text-secondary" style="margin-right: 5px;"></i>Email: <%= current_user.email %></p>
              <p>Studio owned: <%= @studio ? @studio.name : "None" %></p>
              <p>No. of bookings: <%= @reservations.count %></p>
            </div>
        </div>
    </div>
    <div class="right-booking col-8">
        <h2 class="mt-4">Your bookings</h2>
        <nav class="tab-btn">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Reservations</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Your bookings</button>
        </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <%# rooms that you have reserved %>
                <% @reservations.each do |reservation| %>
                <div class="card-booking">
                      <img src ="assets/room3.jpg" />
                    <div class="card-booking-infos">
                      <h5><%= reservation.room.room_name %></h5>
                      <li class="list-group-item">Start: <%= "#{reservation.start_date} (from #{reservation.start_time})" %> </li>
                      <li class="list-group-item">End: <%= "#{reservation.end_date} (until #{reservation.end_time})" %></li>
                      <li class="list-group-item">Duration: <%= reservation.duration %> hours </li>
                      <% if reservation.status %>
                          <h5 class="confirmed text-success">Booking confirmed</h5>
                      <div class="button btn-booking">
                        <%= link_to "View reservation", room_reservation_path(reservation.room, reservation), class: 'btn btn-secondary mt-5' %>
                        <%= link_to "cancel reservation", reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-secondary mt-5 cancel-reservation-btn' %>
                      </div>
                      <% else%>
                      <%# <h3 class="pending text-yellow"> Pending</h3> %>
                      <div class="button btn-booking">
                          <h5 class="cancelled">Cancelled</h5>
                      <%= link_to "View reservation", room_reservation_path(reservation.room, reservation), class: 'btn btn-secondary mt-5' %>
                      </div>
                      <% end %>
                    </div>
                </div>
                <% end %>
                <%# ^^ rooms that you have reserved %>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        </div>
    </div>
</div>
<%= render 'studios/footer' %>
