<div class="container">
<% if @room.room_name.present? %>
<h1><%= @room.room_name %></h1>
<% else %>
<h1>Create your room now</h1>
<% end %>


<%= simple_form_for [studio,room] do |f| %>
  <%= f.input :room_name %>
  <div class="input">
  <%= f.input :price, label: 'Price per hour' %>
  </div>
  <%= f.input :room_size %>
  <table class='table'>
    <thead>
        <tr>
          <th>Equipment Type</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :tasks do |builder| %>
        <%= render 'equipment', f: builder %>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
  <%= link_to_add_row('+ Equipment', f, :equipments, class: 'btn btn-secondary') %>
  </div>
  <%= f.input :room_type, collection: Room.room_types %>
  <%= f.input :total_occupancy, collection: 1..20 %>
  <%= f.input :description %>
  <div class="form-actions">
  <% if @room.id.present? %>
  <%= f.submit "Update Room", class: "btn btn-primary" %>
  <% else %>
  <%= f.submit "Create Room", class: "btn btn-primary" %>
  <% end %>
  </div>
<% end %>
</div>
</div>
