<div class="container col-6" data-controller="room">
<% if @room.room_name.present? %>
<h1><%= @room.room_name %></h1>
<% else %>
<h1 class="mt-5 mb-3 text-center newroom-title">Create a new room</h1>
<% end %>


<%= simple_form_for [studio,room] do |f| %>
<div class="create-room col-10 container-fluid"  data-controller="equipment">
      <div class="room-name-input">
          <%= f.input :room_name, input_html:{class:"input-border room-name", id:"floatingInput"}, label_html: { for: 'floatingInput' } %>
      </div>
      <div class="duo-input">
          <div class="input-group price-input input-border">
              <span class="input-group-text mb-3 left-border">$</span>
              <%= f.input :price, label: 'Price per hour', input_html:{class:"input-border"} %>
          </div>
          <div class="input-group size-input">
              <%= f.input :room_size, input_html:{class:"input-border"}  %>
              <span class="input-group-text mb-3 right-border">Sq m</span>
          </div>
      </div>
      <div class="equipment-input">
          <table class='table'>
            <thead>
                <tr>
                  <th>Equipment Type</th>
                  <th>Name</th>
                  <th>Brand</th>
                  <th></th>
                </tr>
              </thead>
            <tbody class='fields' data-equipment-target='fields' >
              <%= f.simple_fields_for :equipments do |builder| %>
                <%= render 'equipment', f: builder %>
              <% end %>
            </tbody>
          </table>
                <div class="add-equipment-btn mb-3">
                    <%= link_to_add_row('+ Equipment', f, :equipments) %>
                </div>
      </div>
      <div class="room-type-occupancy-input duo-input">
          <div class="room-type input-border">
              <%= f.input :room_type, collection: [['Rehearsal Studio', 'Rehearsal Studio'],
                                                   ['Recording Studio', 'Recording Studio'],
                                                   ['Home Studio', 'Home Studio']] ,
                          input_html:{class:"input-border"} %>
          </div>
          <div class="occupancy input-border">
              <%= f.input :total_occupancy, collection: 1..10,input_html:{class:"input-border"} %>
          </div>
      </div>
      <div class="description-input input-border">
          <%= f.input :description, input_html:{class:"input-border"} %>
      </div>
  <div class="form-actions room-submit-button text-center">
  <% if @room.id.present? %>
  <%= f.submit "Update Room", class: "btn btn-primary button-show" %>
  <% else %>
  <%= f.submit "Create Room", class: "btn button-show align-item-center" %>
  <% end %>
  </div>
<% end %>
</div>
</div>
</div>
