<div class="container col-4 studio-background" >
<% if @studio.id.present? %>
<h1><%= @studio.name %></h1>
<% else %>
<h1 class="mt-5 mb-3 text-center newroom-title">Create your studio</h1>
<% end %>
<%= simple_form_for(studio) do |f| %>
<div class="create-room container-fluid"  data-controller="equipment">
      <div class="room-name-input">
          <%= f.input :name, input_html:{class:"input-border room-name", id:"floatingInput"}, label:"Studio name", label_html: { for: 'floatingInput' } %>
      </div>
      <div class="">
          <div class="input-group ">
              <%= f.input :address, label: 'studio address', input_html:{class:"input-border"} %>
          </div>
      </div>
      <div class="description-input input-border col-6">
          <%= f.input :postal, input_html:{class:"input-border"} %>
      </div>
      <div class="description-input input-border">
          <%= f.input :description, input_html:{class:"input-border"} %>
      </div>
  <div class="form-actions room-submit-button text-center">
  <% if @studio.id.present? %>
  <%= f.submit "Update Studio", class: "btn btn-primary button-show" %>
  <% else %>
  <%= f.submit "Create Studio", class: "btn button-show align-item-center" %>
  <% end %>
  </div>
<% end %>
</div>
</div>












<%# <section class="vh-100 bg-image"
  style="background-image: url('https://unsplash.com/photos/XJK8gdWpxWk');">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xs-12">
        <div class="card rounded-3">
          <img src="https://img.freepik.com/free-photo/acoustic-guitar-recording-studio-room-musicians-rehearsals_169016-3805.jpg?w=1480&t=st=1663073794~exp=1663074394~hmac=5fd82b6973a30501ce31902d25039477a4a14fb847d39be88e1e2480f36a1497"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Create your Studio!</h3>

            <form class="px-md-2">

              <div class="form-outline mb-4">
              <%= simple_form_for(studio) do |f| %>
              <%#= f.input :name , label: "Floss studio"%>
              <%# </div> %>
                <%#= f.input :address %>
                <%#= f.input :postal %>

              <%# <div class="mb-4">
              </div>
                <%#= f.input :description %>
              <%# <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6"> %>

                  <%#= f.submit %>
<%#
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> %>
<%# end %>
