<section class="vh-100 bg-image"
  style="background-image: url('https://unsplash.com/photos/XJK8gdWpxWk');">
<%= simple_form_for(studio) do |f| %>
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xs-12">
        <div class="card rounded-3">
          <img src="https://img.freepik.com/free-photo/acoustic-guitar-recording-studio-room-musicians-rehearsals_169016-3805.jpg?w=1480&t=st=1663073794~exp=1663074394~hmac=5fd82b6973a30501ce31902d25039477a4a14fb847d39be88e1e2480f36a1497"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Create your Studio!</h3>

            <form class="px-md-2">

              <div class="form-outline mb-4">
              <%= f.input :name , label: "What's your studio called?"%>
              </div>
                <%= f.input :address %>
                <%= f.input :postal %>

              <div class="mb-4">
              </div>
                <%= f.input :description %>
              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6">

                  <%= f.submit %>

                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
