<section class="bg-light pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="text-uppercase border-bottom mb-4">Discover Studios - for all Users</h1>
      </div>
    </div>
    <div class="row">
        <% @studios.each do |stud| %>
      <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card">
            <img src="<%= asset_path('placeholder.jpg')%>" class="card-img-top"/>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title"><%= stud.name %></h4>
            <p class="card-text mb-4"><%= stud.description %></p>
            <%= link_to "", studio_path(stud), class: "stretched-link mt-auto align-self-start" %>
            <p>Address: <%= stud.address %></p>
          </div>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</section>
