<section class="bg-light pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="text-uppercase border-bottom mb-4"><%= @studio.name %> - for users and host</h1>
        <h5><%= @studio.rooms.count%> rooms for booking </h5>
      </div>
    </div>
    <div class="row">
        <% @studio.rooms.each do |room|%>
      <div class="col-lg-3 mb-3 d-flex align-items-stretch ">
        <div class="card">
            <img src="<%= asset_path('room2.jpg')%>" class="card-img-top"/>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title"><%= room.room_name %></h4>
            <p class="card-text mb-4"><%= room.description %></p>
            <%= link_to "", studio_room_path(@studio, room), class: 'stretched-link' %>
            <%# enum to show string instead of integer value %>
            <li class="list-group-item">Room Type: <%= room.room_type %></li>
            <li class="list-group-item">Size: <%= room.room_size %>&#13217;</li>
            <li class="list-group-item">Price: <%= room.price %></li>
            <li class="list-group-item">Suggested Pax: <%= room.total_occupancy %></li>
          </div>
        </div>
      </div>
        <% end %>
    </div>
    <div class="list-group px-3 col-2">
<%= link_to "Create A Room", new_studio_room_path(@studio), method: :get, class: 'btn btn-primary mb-2' %>
<%# <%= link_to "Delete Studio", studio_path(@studio), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'btn btn-primary px-4' %>
<%= link_to "Delete Studio", studio_path(@studio), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-danger px-4' %>
</div>
  </div>

</section>
