<<<<<<< HEAD
<div class="studio-background">
    <%= render "pages/navbar" %>
    <%= render "form", studio: @studio %>
</div>
    <%= render 'footer' %>
=======

<div class='container'>
<%= render "form", studio: @studio %>
</div>
<%= render 'studios/footer' %>
>>>>>>> aef511ff84e957c712fb8e04270600b65430e568
