<%= render "navbar", studio: @studio %>
<div class="studio-details">
    <div class="studio-title">
        <h1><%=@studio.name%>
        <% if policy(@studio).edit? %>
        <%= link_to "Edit", edit_studio_path(@studio), class:"btn btn-secondary py-2" %>
        <% end %>
        <% if policy(@studio).destroy? %>
        <%= link_to "Delete studio", studio_path(@studio), data: { turbo_method: :delete , turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-secondary py-2' %>
        <% end %>
        </h1>
        <div class="studio-title-row">
            <div>
                <%# insert reviews start here %>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <%# insert studio.reviews.count here %>
                <span>245 reviews</span>
            </div>
            <div>
                <p>Location: <%= @studio.address %>, <%= @studio.postal %> </p>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-img-1"><img src="/assets/rehearsal-1.jpg"></div>
        <div><img src="/assets/rehearsal-2.jpg"></div>
        <div><img src="/assets/rehearsal-3.jpg"></div>
        <div><img src="/assets/rehearsal-4.jpg"></div>
        <div><img src="/assets/rehearsal-5.jpg"></div>
    </div>
    <div class="small-details">
        <h2><%= @studio.description %></h2>
        <%# li the equipment list in table rows %>
        <%# <p>Equipment available</p> %>
        <%# consider creating room card to link to rooms %>
        <%# <h4>$100/hour</h4> %>
    </div>
    <hr class="line">
    <h2>Select your availability</h2>
    <form action=<%= studio_path(@studio) %> method="get" class="check-form">
        <div class="">
            <input  data-controller="flatpickr" data-flatpickr-date-format="Y-m-d"
                    data-flatpickr-min-date="<%=Time.now%>" name="date"
                    class="form-control date-input-select border text-dark" placeholder=" Date e.g 25/09/2022"
                    value="<%=params[:date]%>" required>
        </div>
        <%# time input %>
        <div class=" select">
            <select class="form-select bg-white border" name="time" aria-label="Default select example">
                <option value="" <%= "selected" if params[:time] == "" %>>-Start Time-</option>
                  <% @timeslot_array.each do |time, id| %>
                <option value="<%=id.to_i%>" <%= "selected" if id == params[:time].to_i %>><%= time %></option>
            <% end %>
            </select>
        </div>
        <%# duration input %>
        <div class="select">
            <select class="form-select bg-white border" name="duration" aria-label="Default select example">
                <option value="" <%= "selected" if params[:duration] == "" %>>-Duration-</option>
                  <% @hour_array.each do |duration, id| %>
                  <% @duration_string = id > 1 ? "#{id} hours" : "#{id} hour"  %>
                <option value="<%=id%>" <%= "selected" if id == params[:duration].to_f %>><%= @duration_string %></option>
            <% end %>
            </select>
        </div>
      <button type="submit">Change search</button>
    </form>
</div>

<div class="container">
    <h1><%= @studio.rooms.count%> Rooms available for you</h1>
    <% @studio.rooms.each do |room| %>
    <%# figure out how to stretched link the entire block %>
    <%# <%= link_to studio_room_path(@studio, room)%>
    <div class="studio">
        <div class="studio-img">
            <%=  render "room_modal", room: room %>
            <button type="button" data-bs-toggle="modal" class="btn btn-link no-decoration" data-bs-target="#exampleModal-<%=room.id%>">
            <img src="<%= [ asset_path('room2.jpg'), asset_path('room3.jpg'), asset_path('room5.jpg')].sample %>" alt="">
            </button>
        </div>
        <div class="studio-info">
            <h3><%= room.room_name %></h3>
            <p><%= room.description %></p>
            <div class="studio-price">
                <p><%= room.total_occupancy%> Pax</p>
                <h4>$<%=room.price %><span>/ hour</span></h4>
                <div class="box-3">
                    <%= link_to "Book Now", new_room_reservation_path( room_id: room, query: params[:query],
                                                                       date: params[:date], time: params[:time],
                                                                       duration: params[:duration]),
                                                                       class: "button-show" %>
                </div>
                <% if policy(@studio).edit? %>
                    <%= link_to "Edit room", edit_room_path(room), class:"btn btn-secondary py-2" %>
                    <%= link_to "Delete room", room_path(room), data: { turbo_method: :delete , turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-secondary py-2' %>
                <% end %>
            </div>
        </div>
      </div>
    <% end %>
    <%# only for studio owner === current_user %>
    <hr class="line-full">
    <% if policy(@studio).edit?  %>
    <hr class="line">
    <div class="add-room-btn mt-4">
      <div class="button-show plus-button p-12">
          <%= link_to new_studio_room_path(@studio) do %>
          <i class="fa-solid fa-plus plus-button stretched-link"></i>
          <% end %>
      </div>
      <h3>Add room</h3>
    </div>
    <% end %>
    <%# only for studio owner, end above%>
  </div>
    <%# only for studio owner, end above%>
    </div>
</div>
<%= render "footer", studio: @studio %>
